<h1>Welcome to the Personal Site of Austin Adams</h1>
<p style="text-align: center;">Please check back later for updates.</p>
<p style="text-align: center;">
  For now, you can check out my 
  <a href="https://github.com/caustinwadams">Github account</a>
  to see the coding projects I am currently working on.
</p>
