@import "bootstrap";

h1 {
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

.resume {
  text-align: left;
  margin-left: 5%;
}

.blog-sf {
  margin-left: 5%;
  margin-bottom: 0;
}

.jumbotron.blog-sf {
  width: 90vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

p {
  margin-bottom: 0;
}



