@import "bootstrap";

h1 {
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

.resume {
  text-align: left;
  margin-left: 5%;
}

.blog-sf {
  margin-left: 5%;
  margin-bottom: 0;
  width: 90vw;
}

.jumbotron.blog-sf {
  width: 90vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

pre {
  line-height: 15px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.login-form {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  input {
    text-align: left;
  }
  .btn.btn-primary {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}


